<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>StringUtil</servlet-name>
  	<display-name>StringUtil</display-name>
  	<description></description>
  	<servlet-class>org.simplelearn.workshop.util.StringUtil</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegistration</servlet-name>
  	<display-name>UserRegistration</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UserRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<display-name>UserLogin</display-name>
  	<description></description>
  	<servlet-class>servlet.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertFlight</servlet-name>
  	<display-name>InsertFlight</display-name>
  	<description></description>
  	<servlet-class>com.servlet.InsertFlight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPassword</servlet-name>
  	<display-name>ForgotPassword</display-name>
  	<description></description>
  	<servlet-class>com.servelt.ForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlightList</servlet-name>
  	<display-name>FlightList</display-name>
  	<description></description>
  	<servlet-class>com.servlet.FlightList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegistratioN</servlet-name>
  	<display-name>UserRegistratioN</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UserRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgatPassword</servlet-name>
  	<display-name>ForgatPassword</display-name>
  	<description></description>
  	<servlet-class>com.servlet.ForgatPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Userlogin</servlet-name>
  	<display-name>Userlogin</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userRegistration</servlet-name>
  	<display-name>userRegistration</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StringUtil</servlet-name>
  	<url-pattern>/StringUtil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegistration</servlet-name>
  	<url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertFlight</servlet-name>
  	<url-pattern>/InsertFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassword</servlet-name>
  	<url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlightList</servlet-name>
  	<url-pattern>/FlightList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegistratioN</servlet-name>
  	<url-pattern>/UserRegistratioN</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgatPassword</servlet-name>
  	<url-pattern>/ForgatPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Userlogin</servlet-name>
  	<url-pattern>/Userlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userRegistration</servlet-name>
  	<url-pattern>/userRegistration</url-pattern>
  </servlet-mapping>
</web-app>
